[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_2F002F001643305645303820-if00
restart_method: command

[fan_generic bento_box]
pin: expander:PA1
max_power: 1.0
# kick_start_time: 0.5

[temperature_fan electronics_fan]
pin:  expander:PA2
max_power: 0.45
sensor_type: temperature_mcu
sensor_mcu: mcu
control: watermark
max_delta: 3.0
min_temp: 0
max_temp: 80
target_temp: 35
max_speed: 1.0

[heater_fan heatbreak_cooling_fan]
pin: expander:PA3

[static_digital_output onboardLED]
pins: !expander:PA4

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6
min_temp: 0
max_temp: 80
gcode_id: C

[temperature_sensor expander_mcu]
sensor_type: temperature_mcu
sensor_mcu: expander
min_temp: 0
max_temp: 100