#############################
# Raspberry Pi Additional MCU
#############################
[mcu rpi]
serial: /tmp/klipper_host_mcu

###################################################################################
# Input Shaper Hardware
###################################################################################

[adxl345]
cs_pin: rpi:None
#axes_map: -z,y,-x # X Mapping
#axes_map: -x,y,z # Y Mapping
#   The accelerometer axis for each of the printer's X, Y, and Z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y, x, z" to swap the X and Y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x, z, -y"). The default is "x, y, z".

###################################################################################
#Input Shaper Hardware
###################################################################################
[resonance_tester]
accel_chip: adxl345
probe_points:
    109,113,20